body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.yellow {
    color: yellow;
}
.red {
    color: red;
}

.title {
    color: #96c6fe;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul#lsMovie {
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 0;
}
ul#lsMovie li {
    background-color: peru;
    color: whitesmoke;
    margin-bottom: 2px;
    padding: 2px;
}
a {
    color: red;
    text-decoration: none;
}
.fav {
    font-weight: bold;
    color: yellow;
}
.em {
    font-style: italic;
}
.mood img {
    border: 2px solid lightgray;
    border-radius: 5px;
}
p::first-letter {
    font-size: 150%;
    font-weight: bold;
    color: yellowgreen;
}
.movie-info .prop {
    font-weight: bold;
}
ul.movie-info {
    list-style-position: inside;
    padding-left: 15px;
}
ul.movie-info li {
    background-color: darkkhaki !important;
    margin-right: 15px;
    color: black !important;
}