.container, .content, .title {
    display: grid;
}

.container {
    grid-gap: 10px;
}

.content {
    /*grid-template-columns: 49% 49%;*/
    grid-row-gap: 2em;
}

.title {
    grid-template-columns: 50% 50%;
}

.box {
    /*border: 1px solid black;*/
}

.head-line, .feature-item {
    position: relative;
    display: flex;
}

.head-line .description, .feature-item .description {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    background-color: rgba(120, 101, 23, 0.5);
    transition: 0.3s;
    overflow: hidden;
}

.head-line .description:hover, .feature-item .description:hover {
    background-color: rgba(120, 101, 23, 0.85);
}
.head-line img {
    width: 100%;
    height: auto;
}

.feature {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;

}
.feature-item img {
    width: 100%;
    transition: 0.5s;
}

.feature-item:hover img {
    transform: rotate(25deg) scale(0.85);
}

.feature-item:hover .description {
    transform: rotate(-25deg) scale(0.85);
    opacity: 0.25;
}

/* Media Queries */
@media screen and (min-width:800px) {
    .content {
        grid-template-columns: 49% 49%;
        grid-gap: 1%;
    }
}
/*@media screen and (max-width:480px) {*/
/*    .feature {*/
/*        display: grid;*/
/*        grid-template-columns: 49% 49%;*/
/*        grid-row-gap: 2%;*/
/*    }*/
/*}*/
