.frm-signup {
    font-family: Monaco, monospace;
}
.box.validator {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.box.content {
    padding-left: 15px;
    padding-right: 15px;
}
