body {
    margin: 0;
    padding: 0;
}
header {
    height: 4em; line-height: 4em; background: lightblue;
}
footer {
    height: 4em; line-height: 4em; background: cyan;
}
footer:not(:last-child) {
    margin-bottom: 2px;
}
.gird {
    display: grid;
}
.pl-20 {
    padding-left: 20px;
}
