body, .page {
    display: grid;
}

body {
    padding: 2em 2em;
}

.page {
    grid-template-columns: 25% 75%;
}

aside {
    border-right: 2px solid darkolivegreen;
    padding-right: 1em;
}

section {
    margin-left: 1em;
}

.content:first-letter {
    font-size: 150%;
    color: red;
}

.content {
    font-family: 'Courier New', Courier, monospace;
}

.content:not(:last-child) {
    border-bottom: 2px solid lightblue;
}

.name {
    margin-top: 1em;
    font-family: Monaco, fantasy;
    font-weight: bold;
}
.pic {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}
.pic img {
    width: 100%;
}
.links {
    margin-top: 2em;
}

ul#left-menu {
    list-style-type: none;
    padding-left: 0;
}

ul#left-menu > li {
    /*background-color: lightblue;*/
    background-image: linear-gradient(#ffacb0, #fcffa8);
    background: #ffacb0;
    background: linear-gradient(#ffacb0, #fcffa8);

    border-radius: 0 0 0 0;
    margin-bottom: 2px;
    padding-left: 10px;

    transition: 0.25s;
}

ul#left-menu > li:hover {
    background-color: #fec21e;
    border-color: #96c6fe;
    cursor: pointer;
    border-left: 2px solid lightblue;
    margin-left: -8px;
}
ul#left-menu > li:hover::before {
    content: '\00bb';
    color: white;
    margin-right: 4px;
    padding-left: 0;
    margin-left: 0;
}
ul#left-menu > li a {
    text-decoration: none;
}
