* {
	box-sizing: border-box;
}

body {
	font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	position: relative;
}

header {
	font-family: fantasy;
	font-weight: bold;
	color: lightgoldenrodyellow;
	margin-bottom: 2em;
}
header h1, header h2 {
	height: 2em;
	line-height: 2em;
	text-align: center;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: black;
	color: white;
	text-align: center;
}
.hidden {
	display: none;
}
.gradient {

	/* can be treated like a fallback */
	/* background-color: red; */

	/* will be "on top", if browser supports it */
	background-image: linear-gradient(#ffacb0, #fcffa8);

	/* these will reset other properties, like background-position, but it does know what you mean */
	background: #ffacb0;
	background: linear-gradient(#ffacb0, #fcffa8);

}

.gradient-repeat {
	/*height: 20px;*/
	/*transform: rotate(25deg);*/
}

/* [1] The container */
.img-hover-zoom {
	overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
	transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
	transform: scale(1.25);
}
