footer {
    position: fixed;
    bottom: 0;
}
header {
    animation: zoom_inout 0.5s linear 1;
    font-family: Consolas, sans-serif;
    margin: 2em 0;
    text-align: center;
}
footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}
h2.instruction {
    animation: blinker 2s linear infinite;
    color: green;
    display: block;
    text-align: center;
    padding-top: 3em;
}
.blink {
    animation: blinker 1s linear infinite;
}
.blink-one {
    animation: blinker 1s linear 1;
}

.question-title, .solution-title {
    font-weight: bold;
}
.page {
    display: grid;
    grid-template-columns: 25% 74%;
    grid-column-gap: 1%;
}
@media only screen and (max-width: 640px) {
    .page {
        grid-template-columns: 100%;
        grid-column-gap: 0;
    }
}

#clock {
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid orange;
    border-radius: 2px;
    box-shadow: 1px 1px grey;
    background: #cff;
    text-align: center;
    display: inline-flex;
    font-weight: bold;
    padding: 0 18px;
    text-shadow: 1px 1px cadetblue;
}
ul#left-menu {
    list-style-type: none;
}
ul#left-menu li {
    background-color: burlywood;
    margin-bottom: 2px;
    transition: 0.25s;
}
ul#left-menu li:hover {
    cursor: pointer;
    background-color: #f9fe85;
}
ul#left-menu li.active {
    animation: blinker 0.25s linear 2;
}
ul#left-menu li.active a {
    color: green;
}
ul#left-menu li a {
    text-decoration: none;
    color: orangered;
    display: block;
    padding: 0 10px;
}
#left-menu .active {
    background-color: #f9fe85;
}
section.question {
    animation: 0.5s ease-out 0s 1 fadein;
}

/* Animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes zoom_inout {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}
@keyframes bounceAndRotate {
    0% {
        transform:rotate(0deg);;
    }
    25% {
        transform:rotate(00deg);
    }
    50% {
        transform:rotate(0deg);
    }
    75% {
        transform:rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
