body {
	
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	color: white;
	font-weight: bold;
}
footer a {
	text-decoration: none;
	color: inherit;
}
.page-content {
	padding: 1em;
}
#lsAttr {
	list-style-type: none;
	padding-left: 0;
}
#lsAttr .att-name {
	font-weight: bold;
}
.error {
	color: red;
    font-family: fantasy monospace;
}