header {
	position: fixed;
    left: 0;
    width: 100%;
    height: 3em;
    line-height: 3em;
    background-color: deepskyblue;
    top: 0;
    padding-left: 1em;
    color: white;
    font-weight: bold;
}
header a {
	color: white;
	text-decoration: none;
}
footer {
	position: fixed;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    bottom: 0;
    text-align: center;
}
#page {
	margin-top: 4em;
}

#frm-contact {
	width: 100%;
	max-width: 640px;
	margin: auto;
}

#frm-contact legend {
    font-size: 26px;
    margin-bottom: 1em;
}

input[type="text"], textarea, select {
	padding: 8px 5px;
    width: 100%;
    border-radius: 4px;
    font-size: 20px;
}
select {
	height: 42px;
}
#frm-contact > .form-group > label {
	font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}
.form-group {
	margin-bottom: 1em;
}
button {
	padding: 8px 10px;
    border-radius: 4px;
    font-size: 18px;
    background-color: deepskyblue;
    color: white;
}
.error {
	color: red;
}