body {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    /* padding-left: 15px;
    padding-right: 15px; */
    /* animation: effect1 1.0s linear 1; */
    /* border-bottom: 4px solid darkolivegreen;
    background-color: lightgoldenrodyellow; */
}
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #000;
    color: #ffffff;
}
header h2 {
    color: green;
}
.page {
    margin-bottom: 2em;
    padding-left: 2em;
}

.blink {
    animation: blinker 0.5s linear infinite;
    animation-delay: 0.5s;
}
.blink-3 {
    animation: blinker 0.25s linear 3;
    animation-delay: 0.5s;
}

.page {
	margin-top: 4em;
}
#lsMenu {
	list-style-type: none;
	padding: 0;
}
#lsMenu li {
	display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 1em;
    background: #cff;
    height: 4em;
    line-height: 4em;
    font-size: 150%;
    font-family: fantasy;
}
#lsMenu li:not(:last-child) {
	margin-right: 1em;
}
#lsMenu li:hover {
	cursor: pointer;
	background: #daa;
}
#lsMenu li a {
	text-decoration: none;
	color: red;
	padding: 0 15px;
	display: flex;
}

/* Animation */

@keyframes blinker {
    50% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes effect1 {
    0% {
        transform: scale(0.25) rotate(45deg);
    }
    75% {
        transform: scale(1.5) rotate(-45deg);
    }
    100% {
        transform: scale(1.0) rotate(0);
    }
}

@keyframes effect2 {
    0% {
        transform: scale(3.25) rotate(90deg);
    }
    75% {
        transform: scale(1.5) rotate(-45deg);
    }
    100% {
        transform: scale(1.0) rotate(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
