table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
}

thead tr:first-child {
    background-color: green;
}

thead tr:nth-child(2) {
    background-color: #96c6fe;
    font-weight: normal;
    font-style: italic;
}

thead tr {
    color: white;
}

tr td {
    text-align: center;
}
tr td:nth-child(1), tr td:nth-child(2) {
    font-weight: bold;
    text-align: left;
}
