body {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.full-width {
    width: 100%;
}
.text-center {
    text-align: center;
}
.primary {
    background-color: blue;
}
.danger {
    background-color: orangered;
}
.success {
    background-color: green;
}

header {
    color: darkgreen;
    margin-bottom: 3vh;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lightgray;
}

.container {
    width: 100%;
}

.panel {
    width: 33%;
    max-width: 320px;
    float: left;
}
.panel:not(:last-child) {
    margin-right: 2px;
}
.panel-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 10px;
    color: white;
}
.panel-body {
    border: 1px solid lightgray;
    min-height: 120px;
    border-bottom: 2px solid gray;
}


/* Temporary */
.panel-header {
    background-color: lightgray !important;
}
