body {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    padding-left: 15px;
    padding-right: 15px;
    animation: effect1 1.0s linear 1;
    border-bottom: 4px solid darkolivegreen;
    background-color: lightgoldenrodyellow;
}
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #000;
    color: #ffffff;
}
header h2 {
    color: green;
}
#clock {
    font-family: Consolas, cursive;
    color: rebeccapurple;
}
section {
    margin-top: 2em;
}
.s-form-register {
    animation: slideInFromRight 0.5s linear 1;
}
.s-ls-students {
    animation: slideInFromLeft 0.5s linear 1;
}
.validator {
    animation: effect2 0.75s linear 1;
}
.page {
    margin-bottom: 2em;
    padding-left: 2em;
}

.s-ls-students .card-body {
    padding: 0;
}
.student-item {
    position: relative;
    animation: slideInFromRight 0.25s linear, 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    transition: 0.25s;
}
.student-item:nth-child(odd) {
    background-color: lightgrey;
}
.student-item:hover {
    background-color: #d3d032;
}
.btn-delete {
    position: absolute;
    right: 5px;
    top: 6px;
    color: white;
    background-color: brown;
    border-radius: 2px;
    border: 1px solid gray;
    padding: 1px 10px;
}
/*.btn-delete {*/
/*    background-image: url("../image/trash-box.png");*/
/*}*/
.btn-delete:before {
}
.btn-delete:hover {
    cursor: pointer;
    background-color: red;
    border-color: green;
    color: greenyellow;
}
.blink-3 {
    animation: blinker 0.25s linear 3;
    animation-delay: 0.5s;
}
/* Animation */

@keyframes blinker {
    50% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes effect1 {
    0% {
        transform: scale(0.25) rotate(45deg);
    }
    75% {
        transform: scale(1.5) rotate(-45deg);
    }
    100% {
        transform: scale(1.0) rotate(0);
    }
}

@keyframes effect2 {
    0% {
        transform: scale(3.25) rotate(90deg);
    }
    75% {
        transform: scale(1.5) rotate(-45deg);
    }
    100% {
        transform: scale(1.0) rotate(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
