#gameBoard, .board-col {
    box-sizing: border-box;
    width: 100%;
    max-width: 480px;
    min-height: 320px;
}
#gameBoard {
    position: relative;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
    border: 3px solid grey;
}
.board-col {
    position: relative;
    border: 1px dashed lightgreen;
}
.cylinder {
    position: absolute;
    left: 45%;
    width: 10%;
    height: 100%;
    background-color: #96c6fe;
    border-top: 2px solid lightcoral;
    border-bottom: 2px solid lightcoral;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
