body {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
}
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #000;
    color: #ffffff;
}
section {
    margin-top: 2em;
}
.page {
    margin-bottom: 2em;
    padding-left: 2em;
}

.s-ls-customers .card-body {
    padding: 0;
}
.customer-item {
    position: relative;
    animation: fadein 0.25s linear, 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    transition: 0.25s;
}
.customer-item:nth-child(odd) {
    background-color: lightgrey;
}
.customer-item:hover {
    background-color: #d3d032;
}
.btn-delete {
    position: absolute;
    right: 5px;
    top: 6px;
    color: white;
    background-color: brown;
    border-radius: 2px;
    border: 1px solid gray;
    padding: 1px 10px;
}
.btn-delete:before {
}
.btn-delete:hover {
    cursor: pointer;
    background-color: red;
    border-color: green;
    color: greenyellow;
}
.blink-3 {
    animation: blinker 0.25s linear 3;
    animation-delay: 0.5s;
}

/* Animation */
@keyframes blinker {
    50% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
