.triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}


.box {
    /*transform: rotate();*/

    width: 200px;
    height: 200px;
    background-color: #f9fe85;

    transition: 0.5s;
}

.box:hover {
    /*transform: rotate(45deg);*/

    background-color: #301cfe;
}
