body {
    margin: 0;
    padding: 0;

    background-color: gray;
}

header, footer { position: fixed; width: 100%; }
header { top: 0; }
footer { bottom: 0; }

/* Background */
.bgr-red { background-color: #ff521c; }
.bgr-white { background-color: white; }

.clock {
    position: relative;
    width: 200px;
    height: 200px;
}
.circle {
    width: 100%;
    height: 100%;
    border: 5px solid #f5f06d;
    border-radius: 50%;
}

.hand {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 2px;
}
.hand-hour {
    height: 6px;
    width: 65px;
    animation: rotate 21600s linear infinite;
    transform-origin: 0 50%;
}

.hand-minute {
    height: 4px;
    width: 75px;
    animation: rotate1 3600s linear infinite;
    transform-origin: 0 50%;
}

.hand-second {
    height: 2px;
    width: 90px;
    transform: rotate(90deg);
    animation: rotate 60s linear infinite;
    transform-origin: 0 50%;
}

/* Animation 360/60 = 6 deg / frame. 60s -> 60 frames */
@keyframes rotate {
    0% { transform:rotate(0deg) }
    100% { transform:rotate(360deg) }
}

@keyframes rotate1 {
    0% { transform:rotate(-90deg) }
    100% { transform:rotate(270deg) }
}
