body {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    padding-left: 15px;
    padding-right: 15px;
    animation: effect1 1.0s linear 1;
    border-bottom: 4px solid darkolivegreen;
    background-color: lightgoldenrodyellow;
}
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #000;
    color: #ffffff;
}
header h2 {
    color: green;
}
section {
    margin-top: 2em;
}
.page {
    margin-bottom: 2em;
}
.animate {
    animation: effect2 1s linear 1;
    animation-delay: 0.75s;
}
.blink {
    color: green;
    animation: blinker 1s linear infinite;
    animation-delay: 1s;
}
/* Animation */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes effect1 {
    0% {
        transform: scale(0.25) rotate(45deg);
    }
    75% {
        transform: scale(1.5) rotate(-45deg);
    }
    100% {
        transform: scale(1.0) rotate(0);
    }
}

@keyframes effect2 {
    0% {
        opacity: 0;
        transform: scale(3.25) rotate(90deg);
    }
    75% {
        opacity: 0.5;
        transform: scale(1.5) rotate(-45deg);
    }
    100% {
        opacity: 1;
        transform: scale(1.0) rotate(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
